{% extends 'base.html' %}
{% load static humanize %}

{% block links %}

{% endblock %}

{% block content-head %}
<style>
.card-image {
    background-size: contain;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
</style>
{% endblock %}


{% block content %}

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id-title" class="form-lable">Название</label>
                <input type="text" name="title" class="form-control" id="id-title">
            </div>

            <div class="mb-3">
                <label for="id-author" class="form-lable">Автор</label>
                <input type="text" name="author" class="form-control" id="id-author">
            </div>


            <div class="mb-3">
                <label for="id-year" class="form-lable">Год</label>
                <input type="number" name="year" class="form-control" id="id-year">
            </div>


            <div class="mb-3">
                <label for="id-file" class="form-lable">Image</label>
                <input type="file" name="file" class="form-control" id="id-year">
            </div>
                <a href="{% url 'books' %}" class="text-decoration-none">
                <button type="submit" class="btn btn-primary">
                Добавить
                 </button>

        </form>
    </div>


{% endblock %}